In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Amazon - Movies and TV Ratings.csv')
df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Columns: 207 entries, user_id to Movie206
dtypes: float64(206), object(1)
memory usage: 7.7+ MB

In [4]:
df.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

In [5]:
df.isnull().sum()

user_id        0
Movie1      4847
Movie2      4847
Movie3      4847
Movie4      4846
            ...
Movie202    4842
Movie203    4847
Movie204    4840
Movie205    4813
Movie206    4835
Length: 207, dtype: int64

In [6]:
df.shape

(4848, 207)

In [7]:
df.describe().T['count'].sort_values(ascending=False)[:1].to_frame()

           count
Movie127  2313.0

In [8]:
df.drop(['user_id'], axis=1).sum().sort_values(ascending=False).to_frame()

               0
Movie127  9511.0
Movie140  2794.0
Movie16   1446.0
Movie103  1241.0
Movie29   1168.0
...          ...
Movie45      1.0
Movie60      1.0
Movie58      1.0
Movie154     1.0
Movie67      1.0

[206 rows x 1 columns]

In [9]:
df.drop('user_id',axis=1).mean().sort_values(ascending=False)[:5].to_frame()

            0
Movie1    5.0
Movie55   5.0
Movie131  5.0
Movie132  5.0
Movie133  5.0

In [10]:
df.drop('user_id',axis=1).mean().sort_values(ascending=True)[:5].to_frame()

            0
Movie144  1.0
Movie67   1.0
Movie45   1.0
Movie58   1.0
Movie60   1.0

In [27]:
from surprise import Reader
from surprise import accuracy
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV

In [12]:
df_melt = df.melt(id_vars = df.columns[0],value_vars=df.columns[1:],
                            var_name="Movies",value_name="Rating")
df_melt

               user_id    Movies  Rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [13]:
rdr = Reader(rating_scale=(-1,10))
data = Dataset.load_from_df(df_melt.fillna(0),reader = rdr)
data

In [14]:
train_data,test_data = train_test_split(data,test_size=0.20)

In [15]:
#Using SVD (Singular Value Descomposition)
svd = SVD()

In [16]:
svd.fit(train_data)

In [17]:
pred = svd.test(test_data)

In [18]:
accuracy.rmse(pred)

RMSE: 0.2738

0.27380995096967964

In [19]:
accuracy.mae(pred)

MAE:  0.0400

0.040027861815594756

In [20]:
u_id='AH3QC2PC1VTGP'
mv = 'Movie206'
r_id = 5.0
svd.predict(u_id, mv, r_ui=r_id, verbose= True)

user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 0.02   {'was_impossible': False}

Prediction(uid='AH3QC2PC1VTGP', iid='Movie206', r_ui=5.0, est=0.017119587079750743, details={'was_impossible': False})

In [21]:
cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2822  0.2852  0.2801  0.2825  0.0021
MAE (testset)     0.0427  0.0430  0.0425  0.0427  0.0002
Fit time          37.42   37.80   37.61   37.61   0.16
Test time         3.82    4.07    3.41    3.77    0.27

{'test_rmse': array([0.2822405 , 0.2851706 , 0.28014348]),
 'test_mae': array([0.04269365, 0.04299127, 0.0424967 ]),
 'fit_time': (37.416566610336304, 37.79896855354309, 37.60864520072937),
 'test_time': (3.8181817531585693, 4.0732715129852295, 3.409493923187256)}

In [22]:
def repeat(ml_type,dframe,min_,max_):
    rd = Reader()
    data = Dataset.load_from_df(dframe,reader=rd)
    print(cross_validate(ml_type, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True))
    print("#"*10)
    u_id = 'AH3QC2PC1VTGP'
    m_id = 'Movie206'
    ra_u = 5.0
    print(ml_type.predict(u_id,mv,r_ui=ra_u,verbose=True))
    print("#"*10)
    print()

In [25]:
df= df.iloc[:3000, :50]
df_melt = df.melt(id_vars = df.columns[0],value_vars=df.columns[1:],var_name="Movies",value_name="Rating")

In [26]:
repeat(SVD(),df_melt.fillna(0),-1,10)
repeat(SVD(),df_melt.fillna(df_melt.mean()),-1,10)
repeat(SVD(),df_melt.fillna(df_melt.median()),-1,10)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0282  1.0308  1.0280  1.0290  0.0013
MAE (testset)     1.0120  1.0131  1.0119  1.0123  0.0005
Fit time          5.32    5.32    5.33    5.32    0.01
Test time         0.36    0.72    0.36    0.48    0.17
{'test_rmse': array([1.02824953, 1.03079037, 1.02799496]), 'test_mae': array([1.01199154, 1.01308773, 1.01194903]), 'fit_time': (5.3181540966033936, 5.315678834915161, 5.328656435012817), 'test_time': (0.3604104518890381, 0.716127872467041, 0.35861730575561523)}
##########
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 1.00   {'was_impossible': False}
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 1.00   {'was_impossible': False}
##########

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0577  0.0517  0.0609  0.0568  0.0038
MAE (testset)     0.0072  0.0073  0.0073  0.0073  0.0001
Fit time          5.31    5.37    5.33    5.34    0.03
Test time         0.70    0.36    0.70    0.59    0.16
{'test_rmse': array([0.05773246, 0.05171831, 0.06089681]), 'test_mae': array([0.00720057, 0.00730313, 0.0073391 ]), 'fit_time': (5.3108484745025635, 5.373586654663086, 5.334872245788574), 'test_time': (0.7026054859161377, 0.3551011085510254, 0.7026188373565674)}
##########
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 4.54   {'was_impossible': False}
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 4.54   {'was_impossible': False}
##########

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0634  0.0663  0.0572  0.0623  0.0038
MAE (testset)     0.0057  0.0056  0.0055  0.0056  0.0001
Fit time          5.31    5.49    5.37    5.39    0.08
Test time         0.36    0.73    0.75    0.61    0.18
{'test_rmse': array([0.06336566, 0.06629924, 0.05722819]), 'test_mae': array([0.00565739, 0.00560476, 0.00549417]), 'fit_time': (5.306279897689819, 5.488694429397583, 5.366561651229858), 'test_time': (0.3550240993499756, 0.7298533916473389, 0.7528386116027832)}
##########
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 5.00   {'was_impossible': False}
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 5.00   {'was_impossible': False}
##########

## Using grid search to find the optimum hyperparameter value for n_factors.

In [29]:
param_grid = {'n_epochs':[20,30],
             'lr_all':[0.005,0.001],
             'n_factors':[50,100]}

In [30]:
gs = GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
gs.fit(data)

In [31]:
gs.best_score

{'rmse': 0.28026007871638176, 'mae': 0.04154158701081156}

In [32]:
print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

0.28026007871638176
{'n_epochs': 30, 'lr_all': 0.005, 'n_factors': 50}